.box {
  padding: 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  flex-flow: row wrap;
 
}

.card {
  padding: 4rem 0 2rem;
  font-size: 0.8rem;
  width: 25%;
  margin: 1rem;
  min-width: 350px;
  border-radius: 3px;
  text-align: center;
  background: #ececec;
  border:5px;
}

.textBox {
  padding: 2rem;
}

.cardTitle {
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05rem;
}

.info {
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.photo {
  width: 50%;
  height: 100px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  background-color: var(--accentColor);
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.btn a {
  text-decoration: none;
  color: white;
}
