.box {
  padding: 8rem 3rem 6rem;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  flex-flow: row wrap;
  z-index: 100;
}

.card {
  padding: 0 0 2rem;
  font-size: 0.6rem;
  width: 20%;
  margin: 1rem;
  min-width: 300px;
  border-radius: 3px;
  text-align: center;
}

.textBox {
  padding: 2rem 0.6rem;
}

.cardTitle {
  font-weight: normal;
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05rem;
}

.info {
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.photo {
  width: 50%;
  height: 100px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  background-color: var(--accentColor);
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.btn a {
  text-decoration: none;
  color: white;
}
