.container {
  text-align: center;
  padding: 1rem 0 4rem;
  height: 100%;
  width: 100vw;

  overflow: hidden;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
 
}

.info {
  padding: 0 8rem;
  max-width: 730px;
  text-align: left;
  min-width: 700px;
}
.title {
  font-size: 7rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-bottom: -5rem;
  margin-right: -10rem;
  margin-left: -3rem;
  color: #838383;
  opacity: 0.2;
  font-weight: bold;
}
.subTitle {
  font-weight: normal;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.subText {
  font-size: 1rem;
  padding: 0.3rem 0;
}

.imagebox {
  padding: 0rem;
  max-width: 50%;
  
}
.image {
  position: relative;
  height: 65%;
  opacity: 0.8;
  overflow: hidden;
}
@media screen and (max-width: 730px) {
  .info {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .title {
    font-size: 4.6rem;
    padding: 2rem;
  }

  .imagebox {
    display: none;
  }
}

@media screen and (max-width: 730px){
  .info {
    padding: 0 1rem;
    min-width: 300px;
  }
}
