@import "./styles.css";

.services {
  margin: 3rem 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0rem 3rem;
}
.image-box {
}

.image {
  max-width: 40vw;
}

.info {
  margin: 0 9rem;
}
