@import "./styles.css";

.container {
  display: flex;
  padding: 4rem;
  justify-content: center;
}
.titleBox {
  text-align: center;
}

.title {
  padding: 0 4rem 1rem;
  border-bottom: 2px solid var(--accentColor);
  margin: 0 30rem;
  font-weight: normal;
  font-size: 2rem;
}
.icon {
  height: 6rem;
}
