.container {
  display: flex;
  flex-flow: column;
  padding: 5rem;
  text-align: center;
  margin: 0 6rem;
}

.panel {
  text-align: left;
  padding: 1rem 5rem;
}

.panel2 {
  text-align: left;
  padding: 0 5rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 0 3rem;
    padding: 0;
  }
  .panel {
    padding: 1rem;
  }
  .panel2 {
    padding: 0 1rem;
  }
}
