.services {
  margin: 3rem 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 3rem;
  flex-flow: row wrap;
}

.image {
  max-width: 40vw;
}

.info {
  margin: 0 9rem;
}
