.menuBtn {
  background-color: transparent;
  border: none;
  margin-right: 30px;
  z-index: 100;
}

.menuBtn:hover {
  transform: translate(1px);
}

.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 200;
  width: 100%;
}
.navHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}

.logo {
  height: 80px;
  padding: 0 3rem;
}

.logoBtn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0 2rem;
}

.logoBtn:hover {
  cursor: pointer;
}
.logoIcon {
  height: 30px;
  color: var(--accentColor);
  margin-top: 0.9rem;
}

.navLinks {
  list-style-type: none;
  text-align: right;
  transition: var(--mainTransition);
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  height: 0;
  overflow: hidden;
  z-index: 205;
  display: block;
  right: 30px;
}

.showNav {
  background-color: var(--accentColor);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 120vw;
}

.navLinks a {
  display: block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  transition: var(--mainTransition);
  margin: 0 0.5rem;
}
.navLinks a:hover {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 240%;
  transition: all 0.3s;
  background-position: 100%;
  color: var(--primaryColor);
}

.active {
  color: var(--accentColor);
}

.navSub {
  display: none;
  color: white;
  background-color: var(--accentColor);
  text-align: right;
  padding: 1rem 2.8rem;
  padding-left: 3.8rem;
  font-size: 14px;
  letter-spacing: 0.1rem;
  clip-path: polygon(12% 0%, 100% 0, 100% 100%, 0 100%);
}
.hideSub {
  display: none;
}

.phoneIcon {
  height: 0.8rem;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0rem;
  }
  .navSub {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 75%;
  }
}

@media screen and (min-width: 1020px) {
  .menuBtn {
    display: none;
  }
  .navCenter {
    margin: 0 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navLinks {
    height: auto;
    display: flex;
    text-align: right;
  }

  .active {
    color: var(--accentColor);
    border-bottom: 2px solid white;
  }
}
