.imgContainer {
  background-image: url("../images/fabrics-factory-industry-236748.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
}

.text {
  font-size: 2rem;
  padding: 0 20rem;
}
