.container {
  width: 100%;
  text-transform: uppercase;
  background-color: var(--primaryColor);
}
.footer {
  color: white;
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 4rem;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

.box {
  padding: 0 2rem;
  margin: 2rem 3rem;
  display: block;
  line-height: 1.5rem;
}
h5 {
  font-weight: normal;
  font-size: 0.9rem;
}

.lines {
  line-height: 0.9rem;
}

.boxImg {
  padding: 0 4rem;
  display: block;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  display: block;
}

.links a:hover {
  color: var(--accentColor);
}

.active {
  border-bottom: 2px solid var(--primaryColor);
}

.logo {
  height: 8rem;
  margin: 0 0 1rem;
  padding-right: 5rem;
}

.title {
  font-weight: normal;
  font-size: 1rem;
  border-bottom: 2px solid var(--accentColor);
  margin-bottom: 1.2rem;
  padding-bottom: 0.3rem;
  padding-right: 3rem;
}

.copyright {
  color: white;
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
  border-top: 2px solid var(--accentColor);
  margin: 0 12rem;
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .box {
    min-width: 350px;
    margin-left: 3rem;
  }

  .copyright {
    min-width: 350px;
    margin: -2rem;
    border-top: none;
  }

  .boxImg {
    margin: 1rem 0 0 4rem;
  }
}
